
/* General */

html, body {
    height: 100%;
    margin: 0px;
}

div {
    text-align: justify;
}

hr {
    border-color: white;
}

.table-ai {
    background-color: rgba(0, 87, 61, 0.5);
}

.text-align-r {
    text-align: right;
}

.col {
    width: 50%;
}

.overlay-color {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.timeline-image {
    max-width: 80%;
	border: 1px solid white;
}

.chat-box {
    width: 100%;
}

.global-font-color {
    color: white;
}

.index-logo {
    max-width: 80%;
}

.home-logo {
    max-width: 50%;
}

.setting-icon {
    height: 27px;
    display: block;
}



/* Nav Bar */
#navbar {
    border-radius: 1px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    margin-top: -10px;
    display: block;
    transition: top 0.3s;
}

.navbar-dark {
    color: white;
}

.navbar-brand {
    padding-left: 20px;
}

.navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-toggler:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-toggler:active {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-ai {
    background-color: rgba(0, 87, 61, 0.5);
    border-radius: 1px;
    transition: top 0.3s;
}

.navbar-ai.scrolled {
    background-color: rgba(0, 87, 61, 0.5);
    border-radius: 1px;
    transition: top 0.3s;
}

.navbar-collapse-ai.show {
    background-color: rgba(0, 87, 61, 0.5);
    border-radius: 1px;
    width: 100%;
}

.nav-logo {
    height: 45px;
    display: block;
}


/* Main */
.main-title {
    padding-top: 150px;
}

.main-logo {
    height: 100px;
}

.main-text {
    font-size: 1.1em;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main-text-head {
    font-size: 1.5em;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/* Link */
a:link {
    color: rgb(199, 199, 199);
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: rgb(199, 199, 199);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:active {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* Puller */
.pull-center {
    text-align: center;
}

.pull-right {
    text-align: right;
}

.pull-left {
    padding-right: 60px;
}

.pull-down {
    padding-top: 20px;
}

.pull-down-nav-text {
    padding-top: 12px;
}

.pull-down-nav {
    padding-top: 10px;
}

.pull-down-main {
    padding-top: 100px;
}

.pull-down-footer {
    padding-top: 10px;
}

.pull-up {
    margin-top: -20px;
}

.pull-up-head {
    margin-top: -200px;
}

.pull-up-slide {
    margin-top: -50px;
}


/* Input Text */
input[type=text] {
    text-align: left;
    border: 2px solid rgb(0, 87, 61);
    border-radius: 4px;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none !important;
    color: white;
    background-color: rgba(0, 87, 61, 0.5);
}

input[type=text]:focus {
    border: 2px solid rgb(0, 87, 61);
    color: white;
    background-color: rgba(0, 87, 61, 0.5);
    outline:none !important;
}

textarea[type=text] {
    text-align: left;
    border: 2px solid rgb(0, 87, 61);
    border-radius: 4px;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none !important;
    color: white;
    background-color: rgba(0, 87, 61, 0.5);
}

textarea[type=text]:focus {
    border: 2px solid rgb(0, 87, 61);
    color: white;
    background-color: rgba(0, 87, 61, 0.5);
    outline:none !important;
}


/* Chat 00FFCC */
.chat-answer-user {
    background-color: rgba(0, 87, 61, 0.5);
    border: 2px solid rgb(0, 87, 61);
    color: white;
    padding: 5px 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    border-radius: 4px;
    outline:none !important;
}

.chat-answer-ai {
    background-color: rgba(0, 255, 204, 0.5);
    border: 2px solid #00FFCC;
    color: white;
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    border-radius: 4px;
    outline:none !important;
}

.message-box-user {
    text-align: right;
    padding-top: 10px;
}

.message-box-ai {
    text-align: left;
    padding-top: 10px;
    color: black;
}


/* Center */
.center-max80 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.center-max90 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.center-max95 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Button */
.ai-button {
    background-color: rgba(0, 87, 61, 0.5);
    border: 2px solid rgb(0, 87, 61);
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    border-radius: 4px;
    cursor: pointer;
    outline:none !important;
}

.ai-button:hover {
    background-color: rgba(1, 65, 45, 0.5);
    border: 2px solid rgb(0, 87, 61);
    color: white;
    cursor: pointer;
    outline:none !important;
}

.ai-button:focus {
    background-color: rgba(0, 87, 61, 0.5);
    border: 2px solid rgb(0, 87, 61);
    outline:none !important;
}



/* placeholder */
::-webkit-input-placeholder { /* Edge */
    color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::placeholder {
    color: white;
}




/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
	border: 1px solid white;
}

::-webkit-scrollbar-track {
    background: lightgrey; 
}

::-webkit-scrollbar-thumb {
    background: grey; 
	border: 1px solid white;
}

::-webkit-scrollbar-thumb:hover {
    background: darkgrey; 
}



.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.full-fg {
    background: url('/img/controls/remover_vid.png') center center / cover no-repeat;
    height: 100%;
}



@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 100%;
      height: auto;
    }
}
  
@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: auto;
        height: 100%;
    }
}


/* burger menu */
.burger-x {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}